.feedback {
  display: flex;
  gap: 16px;
  position: relative;
  &::before {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    position: absolute;
    left: -21px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
  }
}
