.modal {
  position: fixed;
  top: 0;
  right: -200%;
  z-index: 2000;
  width: 100vw;
  height: 100vh;
  transition: right .3s linear;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  &--active {
    right: 0;
  }
  &__body {
    background-color: #fff;
    height: 100vh;
    padding: 24px 16px;
    position: absolute;
    right: 0;
  }
  &__close {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 2.4rem;
    line-height: calc(32 / 24);
    margin-bottom: 24px;
    &::before {
      position: absolute;
      left: 0;
      top: 77px;
      content: "";
      width: 4px;
      height: 40px;
      background-color: $accentColor;
      border-radius: 0 4px 4px 0;
    }
  }
  &__input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    font-size: 1.6rem;
    line-height: (24 / 16);
    margin-bottom: 16px;
    &--message {
      padding-bottom: 87px;
    }
    &:focus {
      outline: 1px solid $accentColor;
    }
  }
  &__disclaimer {
    margin-bottom: 23px;
  }
  &__send {
    width: auto;
    height: auto;
    padding: 4px 38px 4px 8px;
    margin-left: auto;
    border-radius: 16px;
    color: #FFF;
    font-size: 1.2rem;
    line-height: (24 / 12);
    font-weight: 700;
    position: relative;
    &:after {
      content: "";
      background-image: url("../img/icons/more-3.svg");
      width: 8px;
      height: 10px;
      position: absolute;
      right: 18px;
      top: 11px;
    }
    &:hover:after {
      animation-name: moreArrow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

.disclaimer {
  font-size: 1.4rem;
  line-height: calc(16 / 14);
  color: $currentColor;
  &__link {
    color: $btnColor;
  }
}

@media (min-width: 425px) {
  .modal {
    &__body {
      max-width: 320px;
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    }
  }
}

@media (min-width: 768px) {
  .modal {
    &__close {
      position: absolute;
      left: -73px;
    }
    &__title:before {
      top: 20px;
    }
  }
}
