@import "vars";
@import "fonts";
@import "btns";
@import "callback";
@import "feedback";
@import "contacts";
@import "aside";
@import "header";
@import "services";
@import "brands";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $mainFont, sans-serif;
  font-size: 1.6rem;
  background-color: #F8F8F8;
}

.container {
  padding: 0 16px;
}

//.main {
//  width: 100vw;
//}

.link-hover {
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: $mainColor;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: width .3s linear;
  }
  &::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: $mainColor;
    position: absolute;
    bottom: -3px;
    right: 0;
    transition: width .3s linear;
  }
  &:hover::before, &:hover::after{
    width: 50%;
  }
}

.main-title {
  font-size: 2.8rem;
  line-height: calc(40 / 28);
  position: relative;
  &::before {
    position: absolute;
    left: -16px;
    content: "";
    width: 4px;
    height: 40px;
    background-color: $accentColor;
    border-radius: 0 4px 4px 0;
  }
}

.title {
  color: $currentColor;
  width: 100%;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  &__text {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    font-weight: 400;
    text-transform: uppercase;
  }
}

.content {
  position: relative;
  z-index: 10;
}

@media (min-width: 1152px) {
  .container {
    margin: 0 auto;
    width: 1120px;
    padding: 0 16px;
  }
}

@media (min-width: 1440px) {
  .content {
    margin-left: 320px;
  }
}
